/* @import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css'); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
}
img{
    display: block;
    border: 0;
    object-fit: cover;
    /* width: 100%; */
    height: 100%;
}
a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}

body{
    color: #000;
    font-family: "pretendard"/* ,"나눔명조",sans-serif */;
}
.section_2_title, .section_3_title,.sec_3_con_text, .section_4_title, .section_5_title{
    font-family: "나눔명조";
}